:root{
    --background_color_one: #FFF5F2;
    --background_color_two: #F5BABB;
    --text_color: #064232;
    --white: #FFFFFF;
    --black: #000000;
}

body{
    background-color: var(--background_color_one);
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.nav{
    background-color: var(--background_color_two);
    display: flex;
    margin: 0%;
    padding: 0%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.nav-list{
    display: flex;
    flex-direction: row;
    margin: 20px;
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--text_color);
}

.nav-item{
    margin: 0 20px;
    font-family: 'Inika', serif;
}

.nav-toggle-btn{
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    width: 30px;
    height: 25px;
}

.nav-toggle-btn span{
    width: 100%;
    height: 3px;
    background-color: var(--text_color);
}

#motto,
#abt-author,
#main {
  scroll-margin-top: 140px;
}


.logo{
    width: 130px;
    height: 130px;
    margin: 5px;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.h1{
    color: var(--text_color);
    text-align: center;
    font-family: 'Instrument Serif', serif;
    margin: 15px 0 0 0;
    padding: 0;
}

.h3{
    color: var(--text_color);
    text-align: center;
    font-family: 'Inika';
    margin: 0;
    padding: 0;
}

.hero-img{
    margin: 0;
    padding: 0;
    opacity: 80%;
    height: 270px;
}

.motto-h2{
    padding: 0;
    margin: 15px;
    color: var(--text_color);
    font-family: 'Inika';
}

.motto-container{
    display: flex;
    background-color: var(--background_color_two);
    /* opacity: 30%; */
    margin: 15px;
    padding : 0;
    border-radius: 20px;
}

.motto-paragraph{
    padding: 10px;
    margin: 10px;
    color: var(--text_color);
}

.author-h2{
    padding: 0;
    margin: 15px;
    color: var(--text_color);
    font-family: 'Inika';
}

.author-container{
    display: flex;
    background-color: var(--background_color_two);
    /* opacity: 30%; */
    margin: 15px;
    padding : 0;
    border-radius: 20px;
}

@media (max-width: 768px){
    .nav-toggle-btn{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        margin: 10px;
    }

    .nav-list{
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .nav-list.active{
        display: flex;
        position: absolute;
        top: 140px; /* pushes below nav bar */
        left: 0;
        width: 100%;
        background-color: var(--background_color_two);
        padding: 15px 0;
    }

    .nav-item{
        text-align: center;
        margin: 10px 0;
    }
}
